body {
    background-color:silver;
    font-family:'Arial Rounded MT';
    margin:0px;
}

.table{
    display: table;
    width: inherit;
    height: inherit;
}

.row {
    display: table-row;
    width: inherit;
    height: inherit;
}

.wodCellFull{
    display: inline-block;
    height:100%;
    width:100%;
    border-radius: 50px 50px 50px 50px;
    background-color: lightgrey;
}

.wodCellHalf{
    display: inline-block;
    height:100%;
    width:100%;
    border-radius: 50px 50px 50px 50px;
    background-color: palegoldenrod;
}

.wodCellNeed{
    display: inline-block;
    height:100%;
    width:100%;
    border-radius: 50px 50px 50px 50px;
    background-color: lightgoldenrodyellow;
}

.wodCellFullMobile{
    display: inline-block;
    height:98%;
    width:98%;
    border-radius: 50px 50px 50px 50px;
    background-color: lightgrey;
    margin-left:1vw;
    margin-right:1vw;
}

.wodCellHalfMobile{
    display: inline-block;
    height:98%;
    width:98%;
    border-radius: 50px 50px 50px 50px;
    background-color: palegoldenrod;
    margin-left:1vw;
    margin-right:1vw;
}

.wodCellNeedMobile{
    display: inline-block;
    height:98%;
    width:98%;
    border-radius: 50px 50px 50px 50px;
    background-color: lightgoldenrodyellow;
    margin-left:1vw;
    margin-right:1vw;
}


.headerCellMobile{
    display: table-cell;
    height:inherit;
    width: 100vw;
    background-color:inherit;
    vertical-align:inherit;
    text-align:center;
    font-family:inherit;
    font-size:7vw;
    color:firebrick;
    padding-top:6px;
    padding-bottom:6px;
}

.wodDayCellMobile{
    display: table-cell;
    height:inherit;
    width: 100vw;
    background-color:inherit;
    vertical-align:inherit;
    text-align:center;
    font-family:inherit;
    font-size:3vw;
    color:navy;
}

.wodTitleCellMobile{
    display: table-cell;
    height:inherit;
    width: 100vw;
    background-color:inherit;
    vertical-align:inherit;
    text-align:center;
    font-family:inherit;
    font-size:6vw;
    color:navy;
}


.wodDescriptionCellMobile{
    display: table-cell;
    height:2vh;
    width: 100vw;
    background-color:inherit;
    vertical-align:inherit;
    text-align:center;
    font-family:inherit;
    font-size:3vw;
    color:black;
}

.wodCommentCellMobile{
    display: table-cell;
    height:inherit;
    width: 100vw;
    background-color:inherit;
    vertical-align:inherit;
    text-align:center;
    font-family:'Verdana';
    font-size:3vw;
    color: darkslategray;
}

.wodAthleteCellNeededMobile{
    display: table-cell;
    height:inherit;
    width: 100vw;
    background-color:inherit;
    vertical-align:inherit;
    text-align:center;
    font-family:inherit;
    font-size:6vw;
    color:firebrick;
}

.wodAthleteCellMobile{
    display: table-cell;
    height:inherit;
    width: 100vw;
    background-color:inherit;
    vertical-align:inherit;
    text-align:center;
    font-family:inherit;
    font-size:6vw;
    color:navy;
}

.wodCellDesktop{
    display: inline-block;
    height:21vh;
    width:calc(100vw / 6 - 8px);
    border-radius: 50px 50px 50px 50px;
    background-color: lightgrey;
    margin-left:2px;
    margin-right:2px;
    margin-top:2px;
    margin-bottom:2px;
}

.headerCellDesktop{
    display: table-cell;
    height:inherit;
    width: 100vw;
    background-color:inherit;
    vertical-align:inherit;
    text-align:center;
    font-family:inherit;
    font-size:5vw;
    color:firebrick;
    padding-top:2px;
    padding-bottom:2px;
}

.wodDayCellDesktop{
    display: table-cell;
    height:inherit;
    width: inherit;
    background-color:inherit;
    vertical-align:inherit;
    text-align:center;
    font-family:inherit;
    font-size:calc(1vw - 2px);
    color:navy;
}

.wodTitleCellDesktop{
    display: table-cell;
    height:inherit;
    width: inherit;
    background-color:inherit;
    vertical-align:inherit;
    text-align:center;
    font-family:inherit;
    font-size:calc(1vw + 2px);
    color:navy;
}


.wodDescriptionCellDesktop{
    display: table-cell;
    height: 12px;
    width: inherit;
    background-color:inherit;
    vertical-align:inherit;
    text-align:center;
    font-family:inherit;
    font-size:calc(1vw - 3px);
    color:black;
}

.wodCommentCellDesktop{
    display: table-cell;
    height:inherit;
    width: inherit;
    background-color:inherit;
    vertical-align:inherit;
    text-align:center;
    font-family:'Verdana';
    font-size:calc(1vw - 1px);
    color:darkslategray;
}

.wodAthleteCellNeededDesktop{
    display: table-cell;
    height:inherit;
    width: inherit;
    background-color:inherit;
    vertical-align:inherit;
    text-align:center;
    font-family:inherit;
    font-size:calc(1vw - 1px);
    color:firebrick;
}

.wodAthleteCellDesktop{
    display: table-cell;
    height:inherit;
    width: inherit;
    background-color:inherit;
    vertical-align:inherit;
    text-align:center;
    font-family:inherit;
    font-size:calc(1vw - 1px);
    color: navy;
}

/* Tooltip text */
.wodCellDesktop .tooltiptext {
  visibility: hidden;

  top: 15vh;
  width: 50vw;
  left: 25vw;
  background-color: navy;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.wodCellDesktop:hover .tooltiptext {
  visibility: visible;
}


