<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="tw2.css">
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-ui-router.min.js"></script>
    <script src="tw2.app.js"></script>
    <script src="tw2.factory.js"></script>
    <title>TeamWork benefiting the Navy Seal Foundation</title>
</head>
<body ng-app="teamWorkApp" ng-controller="teamWorkController as vm">
    <!-- Desktop -->
    <div ng-hide="vm.IsMobile" class="table">
        <div class="row">
            <div class="headerCellDesktop">2019 Teamwork Schedule</div>
        </div>
        <hr />
    </div>


    <div ng-hide="vm.IsMobile" class="table">
        <div ng-repeat="row in vm.Rows" class="row">
            <div ng-repeat="wod in row.Cells" class="wodCellDesktop">
                <div class="wodCell">
                    <div class="table">
                        <div class="row">
                            <div class="wodDayCellDesktop">{{wod.Day}}</div>
                        </div>
                        <div class="row">
                            <div class="wodTitleCellDesktop">{{wod.Title}}</div>
                        </div>
                        <div class="table">
                            <div ng-repeat="athlete in wod.Primary track by $index">
                                <div class="row">
                                    <div class="wodPrimaryAthleteCellDesktop">{{athlete}}</div>
                                </div>
                            </div>

                            <div ng-repeat="athlete in wod.Secondary track by $index">
                                <div class="row">
                                    <div class="wodSecondaryAthleteCellDesktop">{{athlete}}</div>
                                </div>
                            </div>
                        </div>
                        <div ng-repeat="description in wod.ShortDescription track by $index" class="row">
                            <div class="wodDescriptionCellDesktop">{{description}}</div>
                        </div>

                        <span class="tooltiptext">
                            {{wod.Day}}<br />
                            {{wod.Title}}<hr />
                            <label ng-repeat="description in wod.Description track by $index">{{description}}<br /></label><br />
                            <label ng-repeat="comment in wod.Comments track by $index">{{comment<br /></label>
                        </span>
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Mobile -->
    <div ng-show="vm.IsMobile" class="table">
        <div class="row">
            <div class="headerCellMobile">2019 Teamwork Schedule</div>
        </div>
        <hr />
    </div>


    <div ng-show="vm.IsMobile" class="table">
        <div ng-repeat="wod in vm.WODs" class="row">
            <div class="wodCellMobile">
                <div class="table">
                    <div class="row">
                        <div class="wodDayCellMobile">{{wod.Day}}</div>
                    </div>
                    <div class="row">
                        <div class="wodTitleCellMobile">{{wod.Title}}</div>
                    </div>
                    <div ng-repeat="description in wod.Description track by $index" class="row">
                        <div class="wodDescriptionCellMobile">{{description}}</div>
                    </div>
                    <div class="table">
                        <div ng-repeat="athlete in wod.Primary track by $index">
                            <div class="row">
                                <div class="wodPrimaryAthleteCellMobile">{{athlete}}</div>
                            </div>
                        </div>

                        <div ng-repeat="athlete in wod.Secondary track by $index">
                            <div class="row">
                                <div class="wodSecondaryAthleteCellMobile">{{athlete}}</div>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="comment in wod.Comments track by $index" class="row">
                        <div class="wodCommentCellMobile">{{comment}}</div>
                    </div>

                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</body>

</html>
